<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
            integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
            crossorigin="anonymous"
    >
</head>
<body>
<form class="pure-form" id="edit-form" action="edit.html" th:action="@{/book}" th:method="post" th:object="${book}">

    <h2  th:if="*{id != 0}" th:text="'Book ' + *{id} + ' info'"></h2>
    <h2  th:if="*{id == 0}">Creating book:</h2>

    <input id="id-input" name="id" type="hidden" th:value="*{id}"/>

    <div>
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" th:value="*{title}"/>
    </div>

    <div>
        <label for="author-input">Author:</label>
        <select id="author-input" name="author">
            <option
                    th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.fullName}"
                    th:selected="${author.id == book?.author?.id}"
            >
            </option>
        </select>
    </div>

    <div>
        <label for="genres-input">Genres:</label>
        <select id="genres-input" name="genres" multiple>
            <option
                    th:each="genre : ${genres}"
                    th:value="${genre.id}"
                    th:text="${genre.name}"
            >
            </option>
        </select>
    </div>

    <div class="row">
        <button class="pure-button pure-button-primary" type="submit">Save</button>
        <a class="pure-button pure-button-secondary" href="list.html" th:href="@{/book}">Cancel</a>
    </div>
</form>
</body>
</html>